# System files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
__MACOSX

# Logs and temporary files
*.log
*.tmp
*.swp
*.bak
*.old
*.sublime-project
*.sublime-workspace

# Compiled code
*.class
*.dll
*.exe
*.o
*.so

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Node.js
node_modules/

# Java
*.jar
*.war
*.ear

# Archives
*.zip
*.tar.gz
*.rar
*.7z
*.gz

# Environment files
.env
.env.local
.env.*.local

# IDE and editor files
.idea/
.vscode/
*.iml

# Git directories
*.orig
*.lock

# Backup files
*.~*
*.swp
*.swo
*.tmp

# Build artifacts
dist/
build/

# Local test
test.ipynb
wandb/
pythia-160m-sft-HH/
pythia-160m-sft-SG/
pythia-1b-online-dpo-HH-merge-rewardmodel
pythia-1b-online-dpo-HH-merge-rewardmodel-duplicate
pythia-1b-online-dpo-HH-merge-rewardmodel-resume
pythia-1b-online-dpo-SG-merge-llama-judge
pythia-1b-online-dpo-SG-merge-llama-judge-resume
pythia-160m-online-dpo-SG
pythia-160m-online-dpo-SG-2
pythia-160m-online-dpo-SG-3
pythia-1b-stage2-SG-base-HH-sft
pythia-160m-stage2-SG-base-HH-sft
pythia-1b-online-dpo-ground-truth-lead
pythia-1b-online-dpo-SG-merge-sfairXC-judge
pythia-1b-online-dpo-test-reward-model-change
pythia-160m-online-dpo-ground-truth-lead
qwen-0.5b-oaif
qwen-0.5b-ours
qwen-0.5b-sft-HH-online-dpo
qwen-0.5b-sft-HH-online-dpo-ground-truth-lead
qwen-1.5b-HH-online-dpo-ground-truth-lead-smaller-batch
qwen-1.5b-HH-online-dpo-ground-truth-lead-xs-batch
qwen-1.5b-HH-online-dpo-smaller-batch
qwen-1.5b-HH-online-dpo-xs-batch
qwen-1.5b-instruct-oaif
qwen-1.5b-instruct-ours
qwen-1.5b-sft-HH-online-dpo
qwen-1.5b-sft-HH-online-dpo-ground-truth-lead
qwen-1.5b-sft-oaif
qwen-1.5b-sft-ours
qwen-1.5b-sft-ours-duplicate
# special files
single_gpu.yaml